body {
    background-image: url('../media/bg.png');
    background-repeat: no-repeat;
    background-size: auto;
    height: 100%;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .form-signin {
    max-width: 330px;
}

main .form-box-title {
    margin: 10px;
    margin-bottom: 30px;
    font-size: larger;
    color: rgba(2, 2, 2, 0.432);
    font-style: italic;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main .form-box {
    -webkit-box-shadow: 0 0 10px #3494d46c;
    min-width: 300px;
    height: fit-content;
    border-radius: 10px;
    background-color: #FFF;
    padding: 20px;
}